*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #__next {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  height: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

header, footer {
  flex: 0;
}

main {
  flex: 1;
}